@page "/hall-add"

<h3>Hall_Add</h3>

<MudPaper>
    <MudGrid>
        <MudItem>
            <MudText Typo="Typo.h6"> Nazwa Sali</MudText>
            <MudTextField T="Hall" Placeholder="Wpisz nazwę sali" Variant="Variant.Outlined" />
        </MudItem>
    </MudGrid>
</MudPaper>
@*W tym pliku trzeba dodać mud form do dodawania / edycji sali*@

@code {

}
